
# List

In [21]:
List = ["Vinod",18,"vinodthumatti25@gmail.com"]

In [22]:
List.append("Student")

In [23]:
List

['Vinod', 18, 'vinodthumatti25@gmail.com', 'Student']

In [24]:
List.pop()

'Student'

In [25]:
List

['Vinod', 18, 'vinodthumatti25@gmail.com']

In [26]:
List.remove('vinodthumatti25@gmail.com')

In [27]:
List

['Vinod', 18]

In [28]:
List.extend([[1,2]])

In [29]:
List

['Vinod', 18, [1, 2]]

In [31]:
List.index('Vinod')

0

# Tuples

In [36]:
Tup=("Vinod",18,"vinodthumatti25@gmail.com","Student",18)

In [37]:
Tup.count(18)

2

In [44]:
Tup.index('Vinod')

0

In [45]:
Tup[1:4]

(18, 'vinodthumatti25@gmail.com', 'Student')

In [46]:
Tup[:3]

('Vinod', 18, 'vinodthumatti25@gmail.com')

In [47]:
# reversing a tul
Tup[::-1]

(18, 'Student', 'vinodthumatti25@gmail.com', 18, 'Vinod')

# Dictonaries

In [50]:
Dict = {'Name': 'Vinod', 'Age':18,'Email':"vinodthumatti25@gmail.com",'Role':"Student"}

In [51]:
Dict

{'Name': 'Vinod',
 'Age': 18,
 'Email': 'vinodthumatti25@gmail.com',
 'Role': 'Student'}

In [52]:
Dict.items()

dict_items([('Name', 'Vinod'), ('Age', 18), ('Email', 'vinodthumatti25@gmail.com'), ('Role', 'Student')])

In [56]:
Dict.keys()

dict_keys(['Name', 'Age', 'Email', 'Role'])

In [58]:
Dict.fromkeys('Name')

{'N': None, 'a': None, 'm': None, 'e': None}

In [59]:
Dict.get('Name')

'Vinod'

In [61]:
Dict['Name']

'Vinod'

In [63]:
Dict.values()

dict_values(['Vinod', 18, 'vinodthumatti25@gmail.com', 'Student'])

# Sets

In [64]:
Sets = {"Vinod","Sathish","Bharath","Kumaresh"}

In [66]:
Sets

{'Bharath', 'Kumaresh', 'Sathish', 'Vinod'}

In [67]:
Sets.add('Vicky')

In [68]:
Sets

{'Bharath', 'Kumaresh', 'Sathish', 'Vicky', 'Vinod'}

In [69]:
Sets.remove('Vinod')

In [70]:
Sets

{'Bharath', 'Kumaresh', 'Sathish', 'Vicky'}

In [71]:
print(len(Sets))

4

# Strings

In [72]:
Str = "welcome Python"

In [73]:
Str.capitalize()

'Welcome python'

In [74]:
Str.index('p')

8

In [75]:
Str.lower()

'welcome python'

In [76]:
Str.upper()

'WELCOME PYTHON'

In [77]:
Str.encode()

b'welcome python'

In [78]:
Str2 = "Programming"
Str+" "+Str2

'welcome python Programming'